:root{
    /* Color Palette*/
    --primary-color:#2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #ff3400;
    --headings-color: #1b0760;
    --body-color: #918ca4;
    --body-color-darker:#5c5577;
    --border-color:#ccc;
    --border-radius:30px;
    --padding-vertical:5rem;
}
*,::after,::before{
    box-sizing: border-box;
}
/* Typography  */
html{
    /*62.5% of 16px = 10px*/
    font-size: 62.5%;
}
body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    color:var(--body-color);
    font-size: 2.4rem;
    line-height: 1.5;
}
h1,h2,h3{
    color: var(--headings-color);
    margin-bottom: 1rem;
    line-height: 1.1;
}
h1{

    font-size: 7rem;
}
h2{

    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
p{
    margin-top: 0;
}

/* Typography laptop and desktop computers*/
@media screen and (min-width:1024px){
    body{
        font-size: 1.8rem;
    }
    h1{

        font-size: 8rem;
    }
    h2{
    
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }

}

/*Links */
a{
    text-decoration: none;
}
.link-arrow{
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}
.link-arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after{
    margin-left: 10px;
}
/* Links laptop and desktop computers*/
@media screen and (min-width:1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
}
/* Badges */
.badge {
    border-radius: 20px;
    font-weight: 600;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary{
    background-color: var(--primary-color);
    color: #fff;
}
.badge--secondary{
    background-color: var(--secondary-color);
    color: #fff;
}

.badge--small{
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}

/* Badge laptop and desktop computers*/
@media screen and (min-width:1024px){
    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}

/* Lists */
.list{
    list-style-type: none;
    padding-left: 0;
    color: var(--headings-color);
}

.list--inline .list__item{
    display: inline-block;
    margin-right:  2rem;
    
}

.list--tick{
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}

.list-tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

/* List laptop and desktop computers*/
@media screen and (min-width:1024px){
    .list-tick .list__item{
        padding-left: 0;
    }
}
/* Icons */
.icon{
    width: 40px;
    height: 40px;
}

.icon--small{
    width: 30px;
    height: 30px;
}

.icon--primary{
    fill: var(--primary-color);
}

.icon--white{
    fill: #fff;
}

.icon-container{
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon-container-accent{
    background: var(--accent-color);
}

/* buttons  */
.btn{
    background: none;
    border-radius: 40px;
    border: 0;
    cursor: pointer;   
    font-size: 1.8rem;
    margin: 1rem 0;
    outline: 0;
    font-weight: 600;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap; 
}

.btn .icon{
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}

.btn--outline{
    display: block;
    background: #fff;
    border: 2px solid var(--headings-color);
    color: var(--headings-color);
}

.btn--stretched{
    padding-left: 6rem;
    padding-right: 6rem;
}
.btn--outline:hover{
    background:var(--headings-color);
    color: #fff;
}

.btn--primary{
    /* display: inline-block; */
    background: var(--primary-color);
    color: #fff;  
}

.btn--primary:hover{
    background:#3a8ffd;
}

.btn--secondary{
    background: var(--secondary-color);
    color: #fff;
}

.btn--secondary:hover{
    background:#00c8eb;
}

.btn--accent{
    background: var(--accent-color);
    color: #fff;  
}

.btn--accent:hover{
    background:#ec3000;
}

.btn--block{
    width: 100%;
    display: inline-block;
}

/* buttons on desktop computers */

@media screen and (min-width:1024px){
    .btn{
        font-size: 1.5rem;
    }
}

/* Inputs */
.input{
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    color: var(--headings-color);
    font-size: 2rem;
    outline:0;
    padding: 1.5rem 3.5rem;
}
::placeholder{
    color: #cdcbc7;
}
/* Input Group */
.input-group{
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    
}

.input-group .input{
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 2rem;
    width: 0;
}

.input-group .btn{
    margin: 4px;
}
/* Input on desktop computers */
@media screen and (min-width:1024px){
    .input{
        font-size: 1.5rem;
    }
    
}

/* Cards */
.card{
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
}

.card__header, .card__body{
    padding: 2rem 3rem;
}

.card--primary .card__header{
    background: var(--primary-color);
    color: #fff;
}

.card--secondary .card__header{
    background: var(--secondary-color);
    color: #fff;
}

.card--secondary .badge--secondary{
    background: #02cdf1;;
}

/* Plans */

.plan__name{
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}
.plan__price{
    font-size: 6rem;
    
}

.plan__billing-cycle{
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}
.plan__description{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
   
}
.plan .list__item{
    margin-bottom: 2rem
}
.plan--popular .card__header{
    position: relative;
}
.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    right: 5%;
    top: -6px;
    
}

@media screen and (min-width:1024px){
    .plan__name{
        font-size: 1.5rem;
    }

    .plan__price{
        font-size: 5rem;
    }

    .plan__billing-cycle{
        font-size: 1.6rem;
    }
}

/* Media */
.media{
    display: flex;
    justify-content: center;
 
}

.media__title{
    margin-top: 0;
}

.media__image{
    margin-top: 1rem;
}

.media__body{
    margin: 0 2rem;
}

/* Quote Component*/
.quote{
    font-style: italic;
    font-size: 3rem;
    color: var(--body-color-darker);
    line-height: 1.3;
}
.quote__text::before{
    content: open-quote;
}

.quote__text::after{
    content: close-quote;

}

.quote__author{
    font-weight: 500;
    font-size: 3rem;
    font-style: normal;
    margin-bottom: 0;   
}

.quote__company{
    color: var(--headings-color);
   font-size: 2rem;
   opacity: 0.4;
   font-style: normal;
}

.quote__line{
    position: relative;
    bottom: 10px;
}

@media screen and (min-width:1024px) {
    .quote{
       
        font-size: 2rem;
     
    }
    .quote__author{
        font-size: 2.4rem;
  
    }
    .quote__company{
       font-size: 1.6rem;
    }
}
/* Grids */
.grid{
    display: grid;
}

@media screen and (min-width:768px){
    .grid--1x2{
        grid-template-columns: repeat(2,1fr);
    }
    .testimonial .quote, .quote__author{
        font-size: 2rem;
    }
    .testimonial .quote{
        margin-left: 6rem;
    }

    
}
@media screen and (min-width:1024px){
    .grid--1x3{
        grid-template-columns: repeat(3,1fr);
    }
}

/* Testimonials */
.testimonial{
    padding-left: 3rem;
    padding-right: 4rem;
}

.testimonial__image > img{
    width: 100%;
}
.testimonial__image{
    position: relative;
}

.testimonial__image .icon-container{
    position: absolute;
    top: 3rem;
    right: -32px;
}
/* call out */
.callout{
    padding: 4rem;
    border-radius: 5px;
    
}
.callout--primary{
    background: var(--primary-color);
    
}

.callout__title, .callout__text{
    color: #fff;
    
}

.callout__title{
    margin-bottom: 0;
    margin-top: 0;
}

.callout__text{
    font-size: 2rem;
}

.callout .btn{
    justify-self:center;
    align-self: center;
}

.callout__content{
    text-align: center;
}

@media screen and (min-width:768px) {
    .grid--1x2{
        grid-template-columns: 1fr auto;
    }
    .callout__content{
        text-align: left;
    }
    .callout .btn{
        justify-self:start;
        margin: 0 2rem;
    }
}

/* collapsible */

.collapsible__header {
    display: flex;
    justify-content: space-between;
    
}
.collapsible__heading{
    margin: 0;
    font-size: 3rem;
}

.chevron{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="red" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>') center center no-repeat;    
    
}
.collapsible__chevron{
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);

}
.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
}

/* Blocks */
.block{
    --vertical-padding: 6rem;
    padding: var(--vertical-padding) 2rem;
    
}

.block__heading{
    margin-top: 0;
}

.block__header{
    text-align: center;
}

.block--dark{
    background: #000;
    color: #7b858b;
}

.block--dark .block__heading{
    color: #fff;
}

.block--skewed-right{
    padding-bottom: calc(var(--vertical-padding) + 4rem);
    clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 80%);
}

.block--skewed-left{
    padding-bottom: calc(var(--vertical-padding) + 4rem);
    clip-path: polygon(0% 0%,100% 0%,100% 80%,0% 100%);
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* Navigation Bar */

.nav{
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
}

.nav__list{
   width: 100%;
   margin: 0;
}

.nav__item{
    padding: .5rem 2rem;
    border-bottom: 1px solid #222;
}

.nav__item > a{
    color: #d2d0db;
    transition: color 0.3s;
    
}

.nav__item > a:hover{
    color: #fff;
    
}

.nav__toggler{
    opacity: .5;
    transition: box-shadow .15s;
    cursor: pointer;
}

.nav__brand{
    transform: translateY(5px);
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 #666;
    border-radius: 5px;
    
}

@media screen and (min-width:1024px){
    .nav__toggler{
        display: none;
    }

    .nav__list{
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
     }
     .nav__item{
        border: 0;
    }
     
}

/* Hearo */
.hero{
    clip-path: polygon(0% 0%,100% 0%,100% 90%,0% 100%);
}

.hero__tagline{
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
    color: #b9c3cf;
}

.hero__content.btn{
    margin-top: 15rem;
}

.hero__image{
    width: 100%;
}

@media screen and (min-width:768px){
    
    .hero{
        padding-top: 0;
    }

    .hero__content{
        text-align: left;
        align-self: center;
    }
   
}

/* domain block */

.block-domain .input-group{
    box-shadow:  0 0 30px 20px #e6ebee;
    border: 0;
    margin: 4rem auto;
    max-width: 670px;
}

.domain-block__prices{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,6rem);
    font-size: 2rem;
    font-weight: 600;
    max-width: 700px;
    margin: 0 auto;
    
}
.domain-block__prices .domain-block__item{
    align-self: center;
}
@media screen and (min-width:768px){
    .domain-block__prices{
        /* the code below auto fits the domain-bock__items it provides each grid item
        using the minmax function where the min size is 100px and the fraction is calculated
        to make the items fit */
        grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
        
        font-size: 1.5rem;
        
    }
    
    
}