<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non assumenda at libero consequuntur ullam repellendus dolores quaerat aut, accusamus possimus quasi eius consequatur impedit perferendis quae dolor dolorum velit illum.</p>
    <footer class="quote__footer">
        <div class="media">
            <div class="media__image ">
                    <svg class="icon icon--primary quote__line">
                        <use xlink:href="images/sprite.svg#line"></use>
                    </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith </h3>
                <p class="media__description quote__company">Zeus SMS ceo</p>
            </div>
           </div>
    </footer>
</blockquote>